<% if @person.errors.any? %>
  <div class="error-explanation">
    <h2 class="error-explanation__header">
      <%= pluralize(@person.errors.count, "error") %>
      Prohibited this person from being created
    </h2>
    <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
