<h1>Stembolt Staff</h1>
<%= link_to 'Add new staff member', new_staff_member_path %>

<ul>
  <%= @staff_members.each do |staff_member| %>
  <li>
    <h2><%= staff_member.first_name %></h2>
    <p><%= link_to 'Show', staff_member_path(staff_member) %></p>
  </li>
  <% end %>
</ul>
